.add-product {
  padding: 50px 70px;
}
.add-product-btn {
  margin-top: 40px;
}
.form label {
  width: 500px;
  margin-top: 50px;
}
.add-product .form label {
  padding-bottom: 20px;
}
.add-product .product-btn {
  display: block;
}
