.add-sub-category {
  padding: 50px 70px;
  
}
.sub-category-btns {
  margin-top: 40px;
  /* background-color: red; */
}
.form label {
  width: 500px;
  margin-top: 50px;
  /* background-color: red; */
  display: flex;
}
.add-subcategory .form label {
  padding-bottom: 20px;
}
.add-subcategory .subcategory-btn {
  display: block;
}
